* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #aa44a8; 
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  padding: 10px;
  background-color: #943892;
}

li {
  display: inline;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
}